@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
.card-group {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2)
}

.card__imgframe {
    width: 100%;
    height: auto;
    padding-top: 56.25%;
    background: #bbb;
    box-sizing: border-box;
}

.card__textbox {
    width: 100%;
    height: auto;
    padding: 20px 18px;
    background: #fff;
    box-sizing: border-box;
}

.card__textbox > * + * {
    margin-top: 10px;
}

.card__titletext {
    font-size: 20px;
    font-weight: bold;
    line-height: 125%;
}

.card__overviewtext {
    font-size: 12px;
    line-height: 150%;
}

.input {
    width: 50%;
}

.keyword {
    display: flex;
    margin: 20px;
    gap: 10px;
    justify-content: center;
}

.radio_show{
    margin: 20px;
}

.screen_title{
    margin: 30px auto;
    background-color: #666666;
    width: 60%;
    text-align: center;
}

.sheet{
    background-color: #999999;
}

.screen_table{
    margin: 0 auto;
    width: 50%;
}


.header {
    border: 1px solid black;
    padding: 30px;
}

.side {
    flex-basis: 15%;
    border: 1px solid black;
    background-color: gray;
}

.content {
    flex-basis: 85%;
}

.admin__layout {
    display: flex;
    margin-top: 15px;
    height: 800px;
    gap: 20px;
}

.side__btn {
    text-align: center;
    padding: 20px;
    border: 1px solid black;
}

.side__btn__active {
    background-color: #EFEFEF;
}

th,
td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

thead,
tfoot,
th{
    background-color: cornflowerblue;
    color: #fff;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form_elements {
    background-color: #bbbbbb;
    padding: 20px;
}

.save_btn {
    background-color: blue;
    color: white;
}

.cancel_btn {
    background-color: #2E2F30;
    color: white;
}

.delete_btn {
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 2px 5px;
}

.form_element {
    display: flex;
    padding: 10px;
    align-items: start;
    justify-content: space-between;
}

.width__eight {
    width: 80%;
}

.input {
    width: 100%;
}

.btn_element {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.error_message{
    color: red;
}