// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card-group {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, .2)
}

.card__imgframe {
  width: 100%;
  height: auto;
  padding-top: 56.25%;
  background: #bbb;
  box-sizing: border-box;
}

.card__textbox {
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #fff;
  box-sizing: border-box;
}

.card__textbox > * + * {
  margin-top: 10px;
}

.card__titletext {
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}

.card__overviewtext {
  font-size: 12px;
  line-height: 150%;
}

.input {
  width: 50%;
}

.keyword {
  display: flex;
  margin: 20px;
  gap: 10px;
  justify-content: center;
}

.radio_show{
  margin: 20px;
}

.half_grid{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 30px;
  height: 300px;
}

.image{
  width: 400px;
  height: 100%;
}

.flex{
  display: flex;
  align-items: center;
  gap: 20px;
  height: 50px;
}

.is_show_button{
  background-color: orange;
  padding: 15px;
  color: white;
}

.background_gray{
  background-color: lightgrey;
}

.content_movie{
  width: 400px;
}
.year_field{
  overflow-wrap: break-word;
  color: darkgray;
  text-align: center;

}
.description{
  height: 200px;
  overflow-wrap: break-word;
  color: darkgray;
}

.schedule_title{
  text-align: center;
  border: 1px solid black;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
  width: 600px;
  background-color: lightgrey;
}