// Place all the styles related to the sheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.screen_title{
  margin: 30px auto;
  background-color: #666666;
  width: 60%;
  text-align: center;
}

.sheet{
  background-color: #999999;
}

.screen_table{
  margin: 0 auto;
  width: 50%;
}